body{
    padding:0;
    margin:0;
}
.contian{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
}
#main-logo{
    width: 150px;
    opacity: 0.7;
}

.mainnav{
background:white;
height:50px;
display: flex;
justify-content:space-between;
padding:20px 0;
align-items: center;
}

.navbar{
        /* border:1px red solid; */
        line-height: 1;  
}

.mainnav ul{
    list-style-type: none;
    margin: 0;
    line-height: 1;  
}
    
.mainnav li{
    padding: 20px;
    display: inline-block;
    margin:0;
}

.mainnav a{
    color:gray;
    text-decoration: none;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif; 
}
.contian button{
    background: rgb(4, 4, 62);
    height: 35px;
    width: 110px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    border: 1px;
    border-radius:4px ;
    /* margin:20px; */
    color: white;
    transition-property: all;
    transition-duration:2s ;
    transition-timing-function: ease-in-out;
   
}
button a{
    text-decoration: none;
    color:white;
}

.contian button:hover{
background: rgb(34, 34, 50);
transform:rotateX(90deg); 
}

.cursor:hover{
    cursor: pointer;
}
@media (max-width:760px){
    .mainnav li{
        display:block;
        padding: 0;
        margin: 0;
       
    }
    #main-logo{
        /* width: auto; */
    }
    .mainnav a{
        font-size: 12px;
    }
}
#container-1{
    background: rgb(237, 50, 55, 0.05);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ourstory{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 10px;

   
}
.ourstory h2{
    font-size: 40px;
    font-style: inherit;
    color: rgb(38, 38, 87);
    letter-spacing: -1px;
    margin-bottom: 20px;
     
     
}
.ourstory p{
    color:rgb(103, 103, 118); 
    text-align: center;
    justify-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    width: 60%;
    font-weight: bold;
    margin: 0;
   
}

@media (min-width:1100px){
    .ourstory{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        width: 58%;
        margin: auto;
        padding-top: 55px;
    
    }
    
}

#advert-container{
    /* background: linear-gradient(105.08deg, rgb(0, 0, 0) 15.28%, rgba(0, 0, 0, 0) 107.68%) right center / cover no-repeat, url(/desktopmarket.png); */
    background: linear-gradient(105.08deg, rgb(0, 0, 0) 15.28%, rgba(0, 0, 0, 0) 107.68%), right center / cover no-repeat url(https://getpocketmoni.com/desktopmarket.png);
    /* background-image: url(https://getpocketmoni.com/desktopmarket.png); */
    border-radius: 10px;
    color:white;
    margin: 20px 75px;
    background-position: right center;
    background-repeat: no-repeat;
    /* padding: 5.7rem 10.5rem 6.1rem 8.8rem; */
    height:23rem;
    padding:0  30px;
    
    
}
.first-box{
        margin:50px;
        position:relative;
        top:50px;
        /* left:20px; */
        /* width:35%; */
        border-bottom: 1px solid white;
       

}
.first-box h3{
    font-size: 2.4rem;
    line-height: 28px;
    margin-bottom: 0.6rem;
    font-family: Arial, sans-serif;
    font-weight:unset;
    width:40%;
    line-height: 1;
}
@media(max-width:800px){
    .first-box{
        margin:50px;
        position:relative;
        top:20px;
        /* left:20px; */
        /* width:35%; */
    }
  .first-box h3{
            font-size: 25px;
            line-height: 1.4;
            margin-bottom: 0.3rem;
            font-family: Arial, sans-serif;
            font-weight:unset;
            width:100%;
    }
}

#parent-stat{
    margin:50px;
    display: flex;
    justify-content:space-between;
    padding: 20px 0px;
  
}
.stat num{
    font-size: 2.7rem;
    margin: 0;
    padding:0;

}
.stat p{
    margin: -6px 0;
    padding:0;
    font-size: 14px;
}
@media(max-width:800px){

    #parent-stat{
        margin: 0 50px;
        display:inline-grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:40px;
        padding: 0px 0px;
    
    }
    .stat num{
        font-size:20px;
        margin: 0;
        padding:0;
    
    }
    .stat p{
        margin: -6px 0;
        padding:0;
        font-size: 14px;
    }
}
#container-2{
    margin:10rem 75px; 
    /* border:2px solid red; */
}
.advert-2{
    display:flex;
    width: 100%;
    height: 20rem;
    /* justify-content:space-between; */
    
}
#box-img{
    width: 40%;
    height: 8rem;
    margin-top: 4rem;
    

}

#box-img img{ 
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
   
}
#space{
    width:40%;
   align-self: end;
   /* margin: 3rem; */
   margin-left: 4rem;
   /* margin-top: -4rem; */
   line-height: 1.5;
   font-family: Arial, Helvetica, sans-serif;
   
}
#space h3{

    font-size: 14px;
    color: rgb(33, 33, 80);
}
#space p{
    line-height: 1.5;
    color: rgb(48, 47, 47);
    font-size: 12px;
    font-weight: bold;
    width: 90%;
}
#joinus{
  text-align: center;

}
#joinus h2{
    color: rgb(33, 33, 81);
    font-weight: lighter;
    font-family:  Arial, sans-serif;
    font-size: 19px;
}

#joinus p{
    color:rgb(94, 93, 93) ; 
    font-size: 12px;
    font-weight: bold;
}
#joinus button{
    background: rgb(5, 5, 82);
    color: white;
    height:2.5rem;
    border-radius: 5px;
    border:none;
    width: 5.6rem;
    transition:transform 0.2 ease-in
    
}
#joinus button:hover{
    transition:transform 0.2 ease-in;
    transform:translateY(15px)
}
#download{
    /* margin: 50px;   */
    background-image: url(https://getpocketmoni.com/downloadAppbg.svg);
    /* background: rgb(10, 10, 45); */
    text-align: center;
    padding: 30px;
    margin: 50px 0;

}
#download h4{
     font-size: 30px;
    color: white;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#download img{
    width: 100px;
    height: 30px;
    margin: 5px;
}

#main-footer{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    margin: 50px;
}
#main-footer #small-logo{
    
    margin: 0 30px;
}
.nav-footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    min-width: 800px;
    /* margin: 10px; */
    padding:10px;
    font-size: 14px;
    line-height: 1.5;
    /* align-items: center; */
    /* border:1px solid green; */
    justify-content: space-around;
    align-items: center;
    /* margin: 0 40px; */
}

#main-footer li{
list-style: none;


}
#main-footer ul{
    color: black;
}
.main-a{
    font-size: 16px;
    color: gray;
}
#main-footer a{
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
    }
    #small-logo img{
        width: 100px;
    }
    .footer-4{
        margin-top: 10px;
    }
    .footer-4 li{
        color: grey;
    } 

.footer-p{
    color: gray;
    font-size: 16px;
    margin-left:37px;
}
.footer-3{
    margin-top: -20px;
}

    #copyright{
        border-top:1px solid gray;
        margin:20px;
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: grey;
        /* padding-top: 20px; */
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #copyright .fa-truck{
        color:rgb(41, 41, 117);
        font-size: 15px;
        background: none;
        margin:5px;
    }
    
@media (max-width:920px){
    .nav-footer{
        display:block;
        text-align: left;
    }
    #small-logo{
        display: none;
    }
    .nav-footer li{
        font-size: 12px;
    }
}